# ignore installed packages folder
node_modules/
node_modules

# ignore environment variables

.env
.env.local
.env.dev
.env.prod

/.next/
/out/

#ignore builds and prods
/build
 
# https://github.com/shoebilyas123/amenosh.git